@model KPAWeb.Models.KPA


@{
    ViewData["Title"] = "Details";  
}

<h1>Kpa Details</h1>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="table table-bordered table-striped">
        <dt @*class = "col-sm-2"*@>
            @Html.DisplayNameFor(model => model.KPA_Description)
        </dt>
        <dd @*class = "col-sm-10"*@>
            @Html.DisplayFor(model => model.KPA_Description)
        </dd>
        <dt @*class = "col-sm-2"*@>
            @Html.DisplayNameFor(model => model.Weighting)
        </dt>
        <dd @*class = "col-sm-10"*@>
            @Html.DisplayFor(model => model.Weighting)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="KPIs" asp-action="KPI_Index" asp-route-KPA_No="@Model?.KPA_No">View KPIs</a>
    @*<a asp-action="Edit" asp-route-id="@Model?.KPA_No">Edit</a>|*@
    <a class="btn btn-sm btn-outline-secondary" asp-action="KPA_Index"><i class="bi bi-back"></i>Back to List</a>
</div> 
